Open Weather.json
{
  "name": "Open Weather",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "weather",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        80,
        48
      ],
      "id": "ab15a0bc-4804-4d71-811a-b725592b37f6",
      "name": "HTML Webhook",
      "webhookId": "544298ea-3db6-4a61-9add-bb8e6a720647"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        656,
        48
      ],
      "id": "e0d5c502-ff72-4151-a7c8-b995d3281665",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Kamu adalah asisten cuaca. Dari data berikut, buat URL OpenWeather API untuk kota tersebut.  \n\nKamu memiliki data kota seperti ini: {{ $json.message.text }}\n\nFormat URL: https://api.openweathermap.org/data/2.5/weather?q=CITY_NAME&appid=16c4abc7e2c3bec22ab4762018496016&units=metric  \n\nPastikan {{ $json.message.text }} diisi sesuai dengan teks yang dikirim user via Telegram.  \n\nSetelah URL sudah berhasil diformat maka kamu wajib menggunakan tool GetData untuk mendapatkan data cuaca kota tersebut dengan memberikan URL yang sudah diformat tadi.  \n\nKamu juga seorang analis cuaca. Dari data cuaca OpenWeather berikut, buat laporan ringkas:  \n- Lokasi (nama kota).  \n- Suhu saat ini (°C), suhu terasa (°C).  \n- Kelembaban, tekanan udara.  \n- Kondisi cuaca (description).  \n- Kecepatan & arah angin.  \n- Jika ada data hujan, tampilkan curah hujan (mm).  \n- Analisis apakah kondisi nyaman atau perlu waspada (misalnya terlalu panas, lembap, hujan, angin kencang).  \n- Gunakan bahasa Indonesia yang mudah dipahami.  \n- Tambahkan emoji 🌤️☔💨🔥❄️ untuk memperjelas\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        304,
        48
      ],
      "id": "46a56a0a-670c-4c04-86d6-e2fd2a328833",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        272
      ],
      "id": "e8321a2b-0a50-43cd-9b8f-d314356c4b4d",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "TtVUh8k1DP1WbnTC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        448,
        256
      ],
      "id": "a3a3a425-0a55-4878-9cb2-920b106ff50e",
      "name": "GetData"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Kamu adalah asisten cuaca. Dari data berikut, buat URL OpenWeather API untuk kota tersebut.  \n\nKamu memiliki data kota seperti ini: {{ $json.message.text }}\n\nFormat URL: https://api.openweathermap.org/data/2.5/weather?q=CITY_NAME&appid=16c4abc7e2c3bec22ab4762018496016&units=metric  \n\nPastikan {{ $json.message.text }} diisi sesuai dengan teks yang dikirim user via Telegram.  \n\nSetelah URL sudah berhasil diformat maka kamu wajib menggunakan tool GetData untuk mendapatkan data cuaca kota tersebut dengan memberikan URL yang sudah diformat tadi.  \n\nKamu juga seorang analis cuaca. Dari data cuaca OpenWeather berikut, buat laporan ringkas:  \n- Lokasi (nama kota).  \n- Suhu saat ini (°C), suhu terasa (°C).  \n- Kelembaban, tekanan udara.  \n- Kondisi cuaca (description).  \n- Kecepatan & arah angin.  \n- Jika ada data hujan, tampilkan curah hujan (mm).  \n- Analisis apakah kondisi nyaman atau perlu waspada (misalnya terlalu panas, lembap, hujan, angin kencang).  \n- Gunakan bahasa Indonesia yang mudah dipahami.  \n- Tambahkan emoji 🌤️☔💨🔥❄️ untuk memperjelas\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        256,
        448
      ],
      "id": "ba7897a4-eee6-4327-b799-61a93725b063",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        256,
        672
      ],
      "id": "6ed794e8-d2ea-4a13-9816-da1925b032f1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TtVUh8k1DP1WbnTC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        400,
        656
      ],
      "id": "c0d2a2d3-09af-47ee-b42b-892bc2bdf03c",
      "name": "GetData1"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        48,
        464
      ],
      "id": "e58ce55c-0aa1-47d2-a6b1-f203e511bbfe",
      "name": "Telegram Trigger",
      "webhookId": "134fe18f-e169-4aec-8661-1e3974ab7a89",
      "credentials": {
        "telegramApi": {
          "id": "t5zfM1YVjv6Vx7w5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        448
      ],
      "id": "783713c1-b07f-493d-b374-7d88b08e1135",
      "name": "Send a text message",
      "webhookId": "8bd16342-2bfe-4128-a6de-5728b14195f5",
      "credentials": {
        "telegramApi": {
          "id": "t5zfM1YVjv6Vx7w5",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTML Webhook": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GetData": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GetData1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d35dc72d-67ef-4b0b-a6ce-4def054791ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bf9777ff7f6ee49b532881adcd58ff3b12fb3dfd4a0a22657fab11025f433372"
  },
  "id": "2ev5LvNpZiORVVTC",
  "tags": []
}